.breadcrumbs {
	list-style: none;
	padding:0;
	margin:15px 0;
}

.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs li, .breadcrumbs li a {
	color:#444444;
	font-size:14px;
	font-weight:600;
}

.breadcrumbs li .fa-chevron-right {
	font-size:12px;
	margin:0 15px;
}