---
---

$branch-font-path: "/font";

@import "../_includes/branch-web-assets/styles/global";

body {
	padding: 20px;
}

.slides-box {
	position: relative;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	overflow: auto;
	min-height: 600px;
}

.slide {
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.progress-bar {
	background: $link-color-hover;
}

