.search-bar {
	position: relative;

	.search-bar__form {
		float: left;
		padding-top: 12px;
	}

	.search-bar__input {
		clear: right;
		float: right;
		width: 400px;
		padding-left: 5px;
		outline: none;
		box-shadow:none !important;
		border:1px solid #ccc !important;
	}
}

.search-results {
	clear: left;
	float: left;
	border-style: solid;
	//border-color: #58585B;
	border-color: #e6e6e6;
	position: relative;
	z-index: 1;
	background-color: white;
	border-width: thin;
	border-top: 0;

	.search-results__result {
		width: 398px;
		height: 80px;
		position: relative;
		overflow: hidden;
		border-style: solid;
		border-width: 1px;
		border-color: #e6e6e6;

		.search-results__result__link {
			font-size: 14px;
			padding-left: 15px;
			white-space: nowrap;
			vertical-align: middle;
			display: table-cell;
			height: 30px;
		}

		.search-results__result__link:hover {
			color: black;
			text-decoration: none;
		}

		.search-results__result__box {
			position:absolute; 
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
		}
		.search-results__result__origin {
			font-size: 11px;
			padding-left: 20px;
			padding-right: 20px;	
			display: block;
		}

		.search-results__result__context {
			font-size: 10px;
			padding-left: 20px;
			padding-right: 20px;
			display: block;
		}
	}

	.search-results__result:hover {
		background-color: #C1E6F0;
	}
}

.search-results:empty {
	border-style: hidden;
}

.search-icon {
	position: absolute;
	width: 50px;
	height: 50px;
	margin-top: 13px;
	margin-left: 375px;
}

select:active, select:hover {
  outline: none
}

@media screen and (max-width: 900px) {
	.search-bar, .search-icon {
		display: none;
	}
}

