.sidebar-wrapper {
	padding-left:20px;
}

.sidebar-group {
	display:none;
	list-style:none;
	padding-left:20px;
}

.sidebar-group--expand {
	display:block;
}

.sidebar-group-title {
	color:#ffffff;
	font-weight:bold;
	font-size:20px;
}

.sidebar-group-title .fa {
	width:12px;
}

.sidebar-group-title:hover {
	cursor: pointer;
}

.sidebar-wrapper .sidebar-group .sidebar-group-title { /* titles of 2nd level or more */
	font-size:14px;
	font-weight:normal;
}

.sidebar-group li a {
	color:#e1e1e1;
	font-size:14px;
}

.sidebar-wrapper .sidebar-group-selected .sidebar-group-title {
	color:#ffffff;
	font-weight:bold !important;
}

.sidebar-link-selected {
	color:#ffffff;
	font-weight:bold;
}

.sidebar-group li {
	padding-top:6px;
}