---
---

$branch-font-path: "/font";

@import "../_includes/branch-web-assets/styles/global";
@import "../_includes/branch-web-assets/components/footer/footer";
@import "../_includes/branch-web-assets/components/navbar/navbar";
@import "./tabs";
@import "./sidebar";
@import "./protip";

img {
	max-width: 100%;
}

.float-right {
	float: right;
}

.btn-inactive {
	border-color: white;
}

.btn-default {
	margin-right: 5px;
}

.main {
	margin-top: 70px;
	max-width: 1100px;
	padding: 20px 0px;
}

// padding, and margin

.p-b-20 {
	padding-bottom: 20px;
}


