---
---

$branch-font-path: "/font";

@import "../_includes/branch-web-assets/styles/global";
@import "../_includes/branch-web-assets/components/footer/footer";
@import "../_includes/branch-web-assets/components/navbar/navbar";
@import "../_includes/branch-web-assets/components/header/header";
@import "./headers";
@import "./tabs";
@import "./sidebar";
@import "./protip";
@import "./toc";
@import "./image";
@import "./search";

.btn-inactive {
	border-color: white;
}

.btn-default {
	margin-right: 5px;
}

.main {
	max-width: 1200px;
	padding: 30px 15px;
}

.sidebar-group li {
	padding-top: 6px;
}

.page-title {
	padding-top: 0px;
	margin-top: 0px;
}

pre {
	word-break: normal;
	word-wrap: normal;
	overflow-x: auto;
	code {
		white-space: pre;
	}
}

body {
	font-size: 16px; 
	line-height: 1.5;
}

a:hover, a:focus {
	color: #5691AD;
}

.full-width {
	display: inline-block;
	width: 100%;
}

.attention-grabber {
	font-size: 1.1em;
	margin: 20px 0px;
	font-weight: 600;
	text-align: center;
}
