[submodule "_includes/branch-web-assets"]
	path = _includes/branch-web-assets
	url = https://github.com/BranchMetrics/branch-web-assets.git
[submodule "sprint"]
	path = sprint
	url = https://github.com/BranchMetrics/sprint
[submodule "_includes/Branch-iOS-SDK"]
	path = _includes/Branch-iOS-SDK
	url = https://github.com/BranchMetrics/Branch-iOS-SDK
[submodule "_includes/Branch-Android-SDK"]
	path = _includes/Branch-Android-SDK
	url = https://github.com/BranchMetrics/Branch-Android-SDK
[submodule "_includes/Branch-Public-API"]
	path = _includes/Branch-Public-API
	url = https://github.com/BranchMetrics/Branch-Public-API
[submodule "_includes/Web-SDK"]
	path = _includes/Web-SDK
	url = https://github.com/BranchMetrics/Web-SDK
[submodule "_includes/Branch-PhoneGap-Cordova-SDK"]
	path = _includes/Branch-PhoneGap-Cordova-SDK
	url = https://github.com/BranchMetrics/Branch-PhoneGap-Cordova-SDK
[submodule "_includes/Branch-Xamarin-SDK"]
	path = _includes/Branch-Xamarin-SDK
	url = https://github.com/BranchMetrics/Branch-Xamarin-SDK
