[submodule "_includes/branch-web-assets"]
	path = _includes/branch-web-assets
	url = https://github.com/BranchMetrics/branch-web-assets.git
[submodule "sprint"]
	path = sprint
	url = https://github.com/BranchMetrics/sprint
