[submodule "_includes/branch-web-assets"]
	path = _includes/branch-web-assets
	url = https://github.com/BranchMetrics/branch-web-assets.git
[submodule "sprint"]
	path = sprint
	url = https://github.com/BranchMetrics/sprint
[submodule "_includes/Branch-iOS-SDK"]
	path = _includes/Branch-iOS-SDK
	url = git@github.com:BranchMetrics/Branch-iOS-SDK.git
[submodule "_includes/Branch-Android-SDK"]
	path = _includes/Branch-Android-SDK
	url = git@github.com:BranchMetrics/Branch-Android-SDK.git
[submodule "_includes/Branch-Public-API"]
	path = _includes/Branch-Public-API
	url = git@github.com:BranchMetrics/Branch-Public-API.git
[submodule "_includes/Web-SDK"]
	path = _includes/Web-SDK
	url = git@github.com:BranchMetrics/Web-SDK.git
[submodule "_includes/Branch-PhoneGap-Cordova-SDK"]
	path = _includes/Branch-PhoneGap-Cordova-SDK
	url = git@github.com:BranchMetrics/Branch-PhoneGap-Cordova-SDK.git
[submodule "_includes/Branch-Xamarin-SDK"]
	path = _includes/Branch-Xamarin-SDK
	url = git@github.com:BranchMetrics/Branch-Xamarin-SDK.git
