<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="robots" content="{{site.baseurl}}/robots.txt">
  <meta name="keywords" content="Mobile, Referral, Deep, Linking, Personalized, Install, Attribution, Growth, Hacking, Sharing">
  <meta name="description" content="Branch helps mobile apps grow with deep links that power referral systems, sharing links, invites and marketing links with full attribution and analytics">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="https://blog.branch.io/rss/" />
  <link href="{{site.baseurl}}/css/style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/tomorrow.min.css">

  <!--[if IE 7]><link rel="stylesheet" href="{{site.baseurl}}/css/branch-ie7.css"><![endif]-->

  <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/img/favicon/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/img/favicon/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#65d3f7">
  <meta name="msapplication-TileImage" content="{{site.baseurl}}/img/favicon/mstile-144x144.png">

  <meta property="og:title" content="{% if page.category == 'blog' %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.baseurl}}{% if page.category == 'blog' %}{{page.url}}{% endif %}" />
  <meta property="og:image" content="{% if page.category == 'blog' %}{{ site.baseurl }}{{ '/img/' }}{{ page.thumbnail }}{% else %}https://branch.io/img/og_image.png{% endif %}" />
  <meta property="og:description" content="{% if page.category == 'blog' %}{{ page.description }}{% else %}{{ 'Branch helps mobile apps grow with contextual deep links that power referral systems, sharing links, invites and marketing links with full attribution and analytics' }}{% endif %}" />
</head>