<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="robots" content="{{site.baseurl}}/robots.txt">
  <meta name="keywords" content="Mobile, Referral, Deep, Linking, Personalized, Install, Attribution, Growth, Hacking, Sharing">
  <meta name="description" content="Branch helps mobile apps grow with deep links that power referral systems, sharing links, invites and marketing links with full attribution and analytics">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">

  <link href="{{site.baseurl}}/css/style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/tomorrow.min.css">

  <link rel="icon" type="image/png" href="{{site.baseurl}}/img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/img/favicon/favicon-32x32.png" sizes="32x32">

  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="docs" />
  <meta property="og:url" content="{{page.url}}" />
  <meta property="og:image" content="https://branch.io/img/og_image.png" />
  <meta property="og:description" content="Branch helps mobile apps grow with contextual deep links that power referral systems, sharing links, invites and marketing links with full attribution and analytics" />
</head>